@font-face {
    font-family: 'MyCustomFont';
    src: URL('/fonts/DancingScript-Bold.ttf') format('truetype');
}

nav {
    text-align: center;
    border: solid brown 1px;
    display: flex;
}

a {
    display: inline;
    font-size: xx-small;
    background-color: #3a4639;
    color: white;
    border: solid black 1px;
    padding: 11px;
    margin: -12px;
    flex: 1;
    margin-top: -9px;
    text-decoration: none;
    text-align: center;
}

body {
    font-size: 10px;
}

button:hover {
    background-color: rgb(79 205 79);
    color: honeydew;
    transition: 1s;
    transform: scale(1.5, 1.2);
}

p {
    justify-content: center;

    text-align: center;
    margin-top: 27px;
    font-family: Mycustomfont;
    font-size: xxx-large;
    display: flex;
    flex: 1;
}

img {
    margin-top: auto;
    object-fit: cover;
    width: 100%;
    height: 100%;
    transition: all;
}

img:hover {
    transition: 2s;
    transform: scale(1.9, 1.8) rotate(360deg);

}


.item1 {
    place-self: stretch;
    grid-row: 1/1;
    grid-column: 1/1;
}

.item2 {
    place-self: stretch;
    grid-row: 1/1;
    grid-column: 2/2;

}

.item3 {
    place-self: stretch;
    grid-row: 1/1;
    grid-column: 3/3;

}

.item4 {
    place-self: stretch;
    grid-row: 2/2;
    grid-column: 1/1;

}

.item5 {
    place-self: stretch;
    grid-row: 2/2;
    grid-column: 2/2;

}

.item6 {
    place-self: stretch;
    grid-row: 2/2;
    grid-column: 3/3;

}

.item7 {
    place-self: stretch;
    grid-row: 3/3;
    grid-column: 1/1;

}

.item8 {
    place-self: stretch;
    grid-row: 3/3;
    grid-column: 2/2;

}

.item9 {
    place-self: stretch;
    grid-row: 3/3;
    grid-column: 3/3;

}

.container {
    display: grid;
    grid-template-rows: 200px 200px;
    grid-auto-rows: 200px;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 32px;
}

figure {
    margin: 0px;
}

body {
    background-color: wheat;
}

* {
    box-sizing: border-box;
}